<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.afinal">

    <application
        android:name=".Controller.ApplicationController"
        android:allowBackup="true"
        android:label="@string/title_activity_admin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.LoginActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.EventActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.EventDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Views.Signup" />
        <activity android:name=".Views.NotificationActivity"></activity>
        <service
            android:name=".fcm.FCMService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".fcm.FCMInstanceIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>