<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.afinal">

    <application
        android:name="com.example.user.afinal.Controller.ApplicationController"
        android:allowBackup="true"
        android:label="@string/title_activity_admin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.user.afinal.Views.LoginActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.user.afinal.Views.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.user.afinal.Views.EventActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.user.afinal.Views.EventDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.user.afinal.Views.Signup" />
    </application>

</manifest>